<h1>Draft</h1>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('clean_dine_data.csv')

In [4]:
# 1. Display the first few rows
df.head()

,EstablishmentID,InspectionID,EstablishmentName,EstablishmentType,EstablishmentAddress,EstablishmentStatus,Min.InspectionsPerYear,InfractionDetails,InspectionDate,Severity,Action,Outcome,AmountFined,Latitude,Longitude
0,10657713,104953972.0,NEW KANTAMANTO MARKET,Food Depot,"266 EDDYSTONE AVE, Unit-0",Pass,2.0,No infractions,2022-04-05,Not Rating,No action,No outcome,0.0,43.74791,-79.52219
1,10657713,105133203.0,NEW KANTAMANTO MARKET,Food Depot,"266 EDDYSTONE AVE, Unit-0",Pass,2.0,operate food premise - equipment not arranged ...,2023-03-07,M - Minor,Notice to Comply,No outcome,0.0,43.74791,-79.52219
2,10657713,105133203.0,NEW KANTAMANTO MARKET,Food Depot,"266 EDDYSTONE AVE, Unit-0",Pass,2.0,food premise not maintained with clean floors ...,2023-03-07,M - Minor,Notice to Comply,No outcome,0.0,43.74791,-79.52219
3,10657713,105238109.0,NEW KANTAMANTO MARKET,Food Depot,"266 EDDYSTONE AVE, Unit-0",Pass,2.0,No infractions,2023-08-25,Not Rating,No action,No outcome,0.0,43.74791,-79.52219
4,10752656,104965345.0,# HASHTAG INDIA RESTAURANT,Food Take Out,1871 O'CONNOR DR,Pass,3.0,food premise not maintained with food handling...,2022-04-29,M - Minor,Notice to Comply,No outcome,0.0,43.72199,-79.30349

In [5]:

# 2. Display the last few rows
df.tail()

,EstablishmentID,InspectionID,EstablishmentName,EstablishmentType,EstablishmentAddress,EstablishmentStatus,Min.InspectionsPerYear,InfractionDetails,InspectionDate,Severity,Action,Outcome,AmountFined,Latitude,Longitude
76386,10429136,105152096.0,iQ FOOD CO.,Restaurant,181 BAY ST,Pass,2.0,food premise not maintained with clean floors ...,2023-04-12,M - Minor,Notice to Comply,No outcome,0.0,43.64748,-79.37849
76387,10429136,105256162.0,iQ FOOD CO.,Restaurant,181 BAY ST,Pass,2.0,food premise not maintained with clean floors ...,2023-09-28,M - Minor,Notice to Comply,No outcome,0.0,43.64748,-79.37849
76388,10696752,105055780.0,iQx,Restaurant,55 AVENUE RD,Pass,2.0,food premise not maintained with food handling...,2022-10-14,M - Minor,Notice to Comply,No outcome,0.0,43.67121,-79.39441
76389,10696752,105133261.0,iQx,Restaurant,55 AVENUE RD,Pass,2.0,No infractions,2023-03-07,Not Rating,No action,No outcome,0.0,43.67121,-79.39441
76390,10696752,105228175.0,iQx,Restaurant,55 AVENUE RD,Pass,2.0,No infractions,2023-08-10,Not Rating,No action,No outcome,0.0,43.67121,-79.39441

In [6]:

# 3. Summary statistics
df.describe()

,EstablishmentID,InspectionID,Min.InspectionsPerYear,AmountFined,Latitude,Longitude
count,7.639100e+04,7.639100e+04,76391.000000,76391.000000,76391.000000,76391.000000
mean,1.039139e+07,1.051373e+08,2.358013,0.810344,43.698552,-79.399587
std,5.743916e+05,1.077565e+05,0.608528,36.303278,0.052790,0.082564
min,1.222579e+06,1.044018e+08,0.000000,0.000000,43.587910,-79.634550
25%,1.039323e+07,1.050507e+08,2.000000,0.000000,43.654680,-79.445970
50%,1.060161e+07,1.051420e+08,2.000000,0.000000,43.685550,-79.399080
75%,1.073214e+07,1.052310e+08,3.000000,0.000000,43.737980,-79.353960
max,1.080232e+07,1.053122e+08,3.000000,6250.000000,43.839140,-79.130690

In [7]:

# 4. Information about DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76391 entries, 0 to 76390
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EstablishmentID         76391 non-null  int64
 1   InspectionID            76391 non-null  float64
 2   EstablishmentName       76391 non-null  object
 3   EstablishmentType       76391 non-null  object
 4   EstablishmentAddress    76391 non-null  object
 5   EstablishmentStatus     76391 non-null  object
 6   Min.InspectionsPerYear  76391 non-null  float64
 7   InfractionDetails       76391 non-null  object
 8   InspectionDate          76391 non-null  object
 9   Severity                76391 non-null  object
 10  Action                  76391 non-null  object
 11  Outcome                 76391 non-null  object
 12  AmountFined             76391 non-null  float64
 13  Latitude                76391 non-null  float64
 14  Longitude               76391 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 8.7+ MB

In [8]:

# 5. Number of rows and columns
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 76391
Number of columns: 15

In [9]:

# 6. Column names
print(df.columns)

Index(['EstablishmentID', 'InspectionID', 'EstablishmentName',
       'EstablishmentType', 'EstablishmentAddress', 'EstablishmentStatus',
       'Min.InspectionsPerYear', 'InfractionDetails', 'InspectionDate',
       'Severity', 'Action', 'Outcome', 'AmountFined', 'Latitude',
       'Longitude'],
      dtype='object')

In [10]:
# 7. Missing values
print(df.isnull().sum())

EstablishmentID           0
InspectionID              0
EstablishmentName         0
EstablishmentType         0
EstablishmentAddress      0
EstablishmentStatus       0
Min.InspectionsPerYear    0
InfractionDetails         0
InspectionDate            0
Severity                  0
Action                    0
Outcome                   0
AmountFined               0
Latitude                  0
Longitude                 0
dtype: int64

In [14]:

# 8. Unique values in a column
uniqueEstablishment = df['EstablishmentName'].unique()

In [15]:

print(uniqueEstablishment)

['NEW KANTAMANTO MARKET' '# HASHTAG INDIA RESTAURANT' "'K' STORE" ...
 'Zhong Wei Company' 'iQ FOOD CO.' 'iQx']

In [16]:

# Unique establishment type
uniqueEstablishmentType = df['EstablishmentType'].nunique()

uniqueEstablishmentType

56

In [18]:

# Max and Min(Non-Zero) Fines

max_fine = df['AmountFined'].max()
min_fine = df.loc[df['AmountFined'] > 0, 'AmountFined'].min()

print(f"Max amount fined: {max_fine}")
print(f"Min amount fined: {min_fine}")

Max amount fined: 6250.0
Min amount fined: 55.0

In [19]:
# Max and Min(Non-Zero) Inspections

# Group by 'EstablishmentName' and count the number of inspections
inspection_counts = df.groupby('EstablishmentName')['InspectionID'].count()

# Find the max and min counts
max_count = inspection_counts.max()
min_count = inspection_counts.min()

print("Inspection counts for each establishment:")
print(inspection_counts)

print(f"\nMaximum inspection count: {max_count}")
print(f"Minimum inspection count: {min_count}")

Inspection counts for each establishment:
EstablishmentName
# HASHTAG INDIA RESTAURANT     30
'K' STORE                       1
0109 Dessert + Chocolate        2
1 HOTEL - HARRIET'S             3
1 HOTEL TORONTO - 1 KITCHEN     3
                               ..
Zaza Espresso Bar               4
Zhenwei Food                   11
Zhong Wei Company               1
iQ FOOD CO.                     4
iQx                             3
Name: InspectionID, Length: 13567, dtype: int64

Maximum inspection count: 1296
Minimum inspection count: 1

In [21]:
# Filter the DataFrame to include only non-zero 'AmountFined' values
non_zero_amount_fined = df.loc[df['AmountFined'] > 0, 'AmountFined']

# Get the total count of non-zero 'AmountFined'
total_non_zero_count = non_zero_amount_fined.count()

print(f"\nTotal count of non-zero fines issued: {total_non_zero_count}")

Total count of non-zero AmountFined: 120

In [24]:
# Filter the DataFrame to include only non-zero 'AmountFined' values
non_zero_amount_fined = df.loc[df['AmountFined'] > 0, 'AmountFined']

# Get the total sum of non-zero 'AmountFined'
total_non_zero_sum = non_zero_amount_fined.sum()

print(f"\nTotal sum of fines issued: ${total_non_zero_sum}")

Total sum of fines issued: $61903.0

In [25]:
# Find the top 3 fine amounts for each EstablishmentType
top3_fine_amounts = df.groupby('EstablishmentType')['AmountFined'].nlargest(3)

print("Top 3 fine amounts by EstablishmentType:")
print(top3_fine_amounts)

Top 3 fine amounts by EstablishmentType:
EstablishmentType
Bake Shop               3337        0.0
                        3338        0.0
                        3339        0.0
Bakery                  71299    1880.0
                        7960      580.0
                                  ...
Student Nutrition Site  1565        0.0
                        1566        0.0
Supermarket             1542     1567.5
                        20196     580.0
                        75388     580.0
Name: AmountFined, Length: 165, dtype: float64

In [29]:
# Find the top 3 establishment types based on the total number of unique InfractionDetails
top3_establishment_types = df.groupby('EstablishmentType')['InfractionDetails'].value_counts().groupby(level=0, group_keys=False).nlargest(3)

print("Top 3 establishment types based on unique InfractionDetails:")
print(top3_establishment_types)

Top 3 establishment types based on unique InfractionDetails:
EstablishmentType       InfractionDetails
Bake Shop               No infractions                                                                                 137
                        food premise not maintained with food handling room in sanitary condition - sec. 7(1)(e)        22
                        fail to ensure equipment surface sanitized as necessary - sec. 22                               21
Bakery                  No infractions                                                                                 584
                        fail to ensure equipment surface sanitized as necessary - sec. 22                              169
                                                                                                                      ...
Student Nutrition Site  fail to ensure completion of food handling training by food handler or supervisor - sec. 32     27
                        food premise not maintained with clean floors in food-handling room - sec. 7(1)(g)              21
Supermarket             No infractions                                                                                 698
                        food premise not maintained with clean floors in food-handling room - sec. 7(1)(g)             313
                        fail to ensure equipment surface sanitized as necessary - sec. 22                              216
Name: count, Length: 155, dtype: int64

In [27]:
# Find the top 3 types of infraction severity for each establishment type
top3_infraction_severity_by_type = df.groupby('EstablishmentType')['Severity'].value_counts().groupby(level=0, group_keys=False).nlargest(3)

print("Top 3 types of infraction severity by establishment type:")
print(top3_infraction_severity_by_type)

Top 3 types of infraction severity by establishment type:
EstablishmentType       Severity
Bake Shop               Not Rating              137
                        M - Minor               116
                        S - Significant          73
Bakery                  M - Minor               822
                        Not Rating              584
                                               ...
Student Nutrition Site  M - Minor                64
                        NA - Not Applicable      33
Supermarket             M - Minor              1152
                        Not Rating              698
                        S - Significant         580
Name: count, Length: 154, dtype: int64